$color_blue:#46f;
$color_red:#f35;
$color_bg:#222;
$box_size:100px;

*{
    box-sizing: border-box;
}
body,#app{
    margin: 0;
    padding:0; 
    background-color:$color_bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    // outline:1px solid #f35;
}
.block_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin size($w,$h:$w){
    width: $w;
    height: $h;
}
.block_area{
    @include size($box_size*3);
    display:flex;
    flex-wrap: wrap;
}
h1{
    display:inline-block;
    margin-top: 65px;
}
h2{
    width: 300px;
    height: 200px;
    pointer-events:none;
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 180px;
    z-index: 2;
}
h3{
    position: absolute;
    top: 420px;
    cursor: pointer; 
}
h3:hover{
    border-bottom:1px solid white;
}

.number{
    color:white;
    font-family: '微軟正黑體';
    font-size: 12px;
    margin-left: 3px;
    opacity: .7;
}

.block{
    @include size($box_size);
    border: 1px solid rgba(136, 152, 255, 0.469);
    position: relative;
    // transition:.3s;

    &.small{
        @include size(70px !important);
        margin-top:50px;
    }
    
    &:hover{
        background-color: rgba(255, 255, 255, 0.122);
    }

    &.circle{
        &:before,&:after{
            content: '';
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            transition:.3s;
           }
        &:before{
            @include size(90%);
            background-color: $color_red; 
            }
        &:after{
            @include size(65%);
            background-color: $color_bg;
            } 
    }
    &.cross{
        &:before,&:after{
             content: '';
             display: block;
             position: absolute;
             @include size(90%,15%);
             background-color: $color_blue;
             transition:.3s;
             top: 50%;
             left: 50%; 
         }
         &:before{
             transform: translate(-50%,-50%) rotate(45deg);
         }
         &:after{
             transform: translate(-50%,-50%) rotate(-45deg);
         }
    }  
}